@charset "UTF-8";
body {
    background-image: linear-gradient(to right, #A3AB78, #818274) ;
    background-attachment: fixed;
}
p {
    text-align: justify;
}
main {
    background-color: white;
    width: 650px;
    margin: auto;
    padding: 5px;
}
h1 {
    color: #10454F;
    text-align: center;
}
h2 {
    color: #BDE038;
}
img {
    height: 25px;
}