@charset "UTF-8";

@font-face {
    font-family: barbie;
    src: url(fonts/Barbie.otf);
}
:root {
    --font-barbie: 'barbie';
    --color1: yellow;
}

body {
    background-image: linear-gradient(to bottom, rgb(252, 15, 192), rgb(255, 193, 203));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    height: 3000px;
}
h1 {
    font-size: 2em;
    font-weight: bolder;
    color: var(--color1);
    font-family: var(--font-barbie);
}
.cont {
    text-align: center;
    background-color: rgb(164, 33, 100);
    padding: 2px;
}
.img {
    height: 500px;
    width: 98vw;
    background-image: url(imgs/fundo-barbie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.img > div.text > p {
    font-size: 1.5em;
    color: black;
}
div.img > div.text {
    background-color: rgba(0, 0, 0, 0.174);
    width: 50vw;
    margin: 20px 0px 0px 20px;
}
@media (min-width: 320px){
    .img {
        height: 280px;
    }
}