@charset "UTF-8";

:root {
   /* Branco, amarelo, laranja, rosa e preto.*/
    --cor1: #bcbc2852;
    --cor2: rgb(147, 95, 0);
    --cor3: rgb(240, 152, 167);
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(131, 112, 107);
}
div.img {
    width: 100%;
    background-color: aqua;
    height: 38vh;
    margin: auto;
    background-image: url(imagens/bolo-caseiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 10px;
}
header {
    padding: 30px;
    background-color: var(--cor1);
    position: sticky;
    top: 0;
}
header > nav > a {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 10px;
    background-color: var(--cor2);
    transition-duration: 0.8s;
}
header > nav > a:hover {
    background-color: black;
    color: var(--cor2);
    cursor: pointer;
}
main {
    width: 80vw;
    background-color: var(--cor2);
    height: 2000px;
    margin: auto;
    max-width: 1440px;
    min-width: 400px;
}
main > section > p {
    color: white;
}
section {
    margin: 0px 20px;
}
@media (min-width: 320px){
    div.img {
        height: 40vh;
    }
    main {
       width: 100vw;
    }
}