@charset "UTF-8";

:root {
   /* Branco, amarelo, laranja, rosa e preto.*/
    --cor1: rgba(136, 86, 7, 0.449);
    --cor2: rgb(202, 131, 0);
    --cor3: rgb(240, 152, 167);
    --cor4: rgb(221, 221, 221);
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(131, 112, 107);
}
div.img {
    width: 100%;
    background-color: aqua;
    height: 38vh;
    margin: auto;
    background-image: url(imagens/bolo-caseiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 10px;
}
div.padrao {
    height: 480px;
    width: 600px;
    background-color:var(--cor4);
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    max-width: 900px;
}
a  div.padrao {
    text-decoration: none;
}
div.padrao > h2 {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
}
div.imagem > img{
    height: 100%;
    width: 100%;
    margin: auto;
}
div.imagem {
    margin: auto;
    height: 400px;
    width: 390px;
    margin-top: 10px;
}
header {
    padding: 30px;
    background-color: var(--cor1);
    position: sticky;
    top: 0;
}
header > nav > a {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 10px;
    background-color: var(--cor2);
    transition-duration: 0.8s;
}
header > nav > a:hover {
    background-color: black;
    color: var(--cor2);
    cursor: pointer;
}
main.m2 {
    background-color: var(--cor2);
    height: 2000px;
    margin: auto;
    max-width: 1300px;
    padding-top: 100px;
}
main.m1 {
    background-color: var(--cor2);
    height: 2000px;
    margin: auto;
    max-width: 1300px;  
}
section {
    margin: 0px 20px;
}
@media (min-width: 320px){
    div.img {
        height: 40vh;
    }

    main {
       width: 96vw;
    }
    div.padrao {
        width: 90vw;
    }
    div.imagem {
        width: 370px;
        height: 370px;
    }
}